{% extends "base.html" %}

{% block body_block%}

<p>Books</p>
<ul>
    {% for book in object_list %}
    <li>{{ book.name }}
        <p>Author: {{ book.author }}</p>
        <p>Pages: {{ book.pages }}</p>
        <p>Year: {{ book.year }}</p>
        <p>Rating: {{ book.rating }}</p>
        <p>
            <a href="{% url "book_detail" book.slug %}">detail </a>
            <a href="{% url "book_edit" book.id %}">edit </a>
            <a href="{% url "book_delete" book.id %}">  delete</a>
        </p>
    </li>
    {% endfor %}
</ul>

<a href="{% url "book_new" %}">New</a>

{% endblock %}